@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

/* 
  Resets
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 8px;
  background: #64149c;
}

::-webkit-scrollbar-thumb {
  background: #fc8c1c;
  border-radius: 20px;
}

@layer base {
  html {
    font-family: "Roboto Mono", monospace;
    /* font-family: "JetBrains Mono", monospace; */
    /* font-family: 'Montserrat', sans-serif; */
  }
}

.h-over:hover {
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
}

.glassmo {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.topnleft{
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
}

.topnright{
  top: 50%;
  right: 10%;
  transform: translate(10%, -50%);
}

.width{
  width: 30rem;
}

.bgimg{
  background: url(./assets/fish.jpg) no-repeat;
  background-size: cover;
}

.stroke{
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.bounce {
  animation: customBounce 2s ease infinite;
}
@keyframes customBounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-20px);}
	60% {transform: translateY(-15px);}
}